@import 'styles/variable.module.scss';

.pdf {
  display: flex;
  width: 816px;
  height: 1056px;
  margin: 6rem 0px;
  padding: 2rem 1rem;
  color: #000000;
  background-color: #fff;
}
//when puppeteer pdf requested, no margin.
.noMargin {
  margin: 0px;
}

//pdf style
$imgBox: 200px;
.sidebar {
  border: 1px solid blue;
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 2rem;

  & > div:not(:last-child) {
    margin-bottom: 2rem;
  }

  .bryonImg {
    border-radius: 50%;
    overflow: hidden;
    width: $imgBox;
    height: $imgBox;
    align-self: center;
    & > img {
      width: 100%;
    }
  }
}

.main {
  // border-top: 1px solid red;
  // border-bottom: 1px solid red;
  // border-right: 1px solid red;
  flex: 0 0 70%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 2rem;

  //bryon
  .header {
    margin-top: 60px;
    & > h1 {
      font-size: 3rem;
      color: $red;
      font-weight: bold;
      color: $pdfColor;
    }
  }
}

.iconRow {
  display: flex;
  gap: 1rem;
  align-items: center;
  svg {
    width: 1rem;
  }
}
