@import 'styles/variable.module.scss';

.pdf {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 816px;
  height: 1056px;
  gap: 1rem;
  margin: 6rem 0px;
  color: #000000;
  background-color: #fff;
  background-image: url('/resume_background.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
  position: relative;
}
// .pdf:before {
//   position: relative;
//   content: ' ';
//   position: absolute;
//   display: block;
//   left: 0;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   opacity: 0.3;
// }
//when puppeteer pdf requested, no margin.
.noMargin {
  margin: 0px;
}

// SIDEBAR
//pdf style
$imgBox: 200px;
.sidebarContainer {
  // background-color: $baseLight;
}
.sidebar {
  margin: 2rem 1rem;
  // border: 1px solid blue;
  // flex: 0 0 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 2rem;

  & > div:not(:last-child) {
    margin-bottom: 2rem;
  }

  .bryonImg {
    border-radius: 50%;
    overflow: hidden;
    width: $imgBox;
    height: $imgBox;
    align-self: center;
    & > img {
      width: 100%;
    }
  }
}

.education {
  & > div:not(:last-child) {
    margin-bottom: 0.5rem;
  }
  p {
    font-size: 0.8rem;
  }
  .year {
    font-size: 0.7rem;
    margin-bottom: -0.3rem;
  }
  .title {
    color: $pdfColor;
    font-style: normal;
    // font-size: 1rem;
  }
  .college {
    // font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
  }
}

// MAIN
.main {
  // border-top: 1px solid red;
  // border-bottom: 1px solid red;
  // border-right: 1px solid red;
  // flex: 0 0 70%;
  padding: 2rem 1rem;
  padding-left: 0;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  // flex-wrap: wrap;
  // width: 100%;
  // min-width: 0;

  & > div:not(:last-child) {
    margin-bottom: 2rem;
  }

  //bryon
  .header {
    height: 200px;
    padding-top: 60px;
    & > h1 {
      font-size: 3rem;
      font-weight: bold;
      color: $pdfColor;
    }
  }

  .about {
    .moto {
      display: flex;
      justify-content: space-around;
    }

    & > p:not(:last-child) {
      margin-bottom: 1rem;
    }
    .text {
      span {
        font-weight: bold;
      }
    }
  }
} //end main

.iconRow {
  display: flex;
  gap: 1rem;
  align-items: center;
  svg {
    width: 1rem;
  }
}
