@import 'styles/variable.module.scss';
@import 'styles/mixins.scss';

.iconContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0 4rem 0;
  opacity: 0;
  transform: translateY(75px);
  h1 {
    color: $baseLight;
    font-size: 1.5rem;
    font-family: var(--fontFamily);
    @include xs {
      font-size: 2.5rem;
    }
    font-weight: bold;
    margin-bottom: 3rem;
    span {
      color: $red;
    }
  }
}
.iconAnimation {
  animation: show 1s ease 0s 1 normal forwards;
}
@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(75px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.iconInnerContainer {
  $size: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  @include sm {
    gap: 4rem;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  svg {
    width: $size;
    height: $size;
    @include sm {
      $size: 6rem;
      width: $size;
      height: $size;
    }
  }
  span {
    color: $baseLight;
    font-size: 0.8rem;
    @include sm {
      font-size: 1rem;
    }
  }
}
// .html {
// }
