@import 'styles/variable.module.scss';
@import 'styles/mixins.scss';

.cardContainer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'a'
    'b';
  max-width: 320px;
  @include xs {
    max-width: none;
    width: 90%;
  }

  @include md {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'a b';
    width: 700px;
  }
  @include lg {
    width: 900px;
  }

  // background-image: linear-gradient(
  //   45deg,
  //   rgba(170, 169, 173, 0.5),
  //   rgba(255, 255, 255, 0.5)
  // );

  border-radius: 15px;
  box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.4), 0px 0px 8px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  background: $baseDark;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1),
    rgba(192, 192, 192, 1)
  );

  img {
    width: 100%;
    height: 460px;
    object-fit: fill;
    line-height: 0;
    // height: 100%;
  }

  opacity: 0;
  transform: translateY(75px);
}
.cardContainerAnimate {
  // transition: transform 1s ease;
  animation: show 1s ease 0s 1 normal forwards;
}
@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(75px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.gridChildA {
  grid-area: a;
}
.gridChildB {
  grid-area: b;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  padding: 1rem 2rem;
  color: $baseLight;

  & > h1 {
    font-weight: bold;
    font-size: 1.5rem;
    @include xs {
      font-size: 2rem;
    }
  }
  & > p {
    font-size: 0.8rem;
    @include xs {
      font-size: 1rem;
    }
  }
}
.svgContainer {
  display: flex;
  justify-content: flex-start;
  // width: 100%;
  gap: 0.5rem;
  flex-wrap: wrap;

  & svg {
    $size: 2.5rem;
    width: $size;
    height: $size;
    flex-shrink: 0;
  }

  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  & span {
    font-size: 0.6rem;
  }
}
