@import 'styles/variable.module.scss';

.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'a b';
  width: 700px;

  // grid-template-rows: 1fr, 1fr;
  // grid-template-areas:
  //   'a'
  //   'b';
  // width: 400px;

  background: #ffffff;
  background-image: linear-gradient(
    to bottom,
    hsla(14, 67%, 28%, 0.5),
    hsla(41, 54%, 75%, 0.5)
  );

  border-radius: 15px;
  box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  color: $baseDark;

  img {
    grid-area: a;
    width: 100%;
    height: auto;
  }
}

.textContainer {
  grid-area: b;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;

  h1 {
    font-weight: bold;
    font-size: 2.5rem;
  }
}
