@import 'styles/variable.module.scss';

.experience {
  & > div:not(:last-child) {
    margin-bottom: 0.8rem;
  }
  p {
    font-size: 0.8rem;
    & > span {
      font-weight: bold;
    }
  }
  .business {
    color: $pdfColor;
    font-style: italic;
    font-weight: bold;
    font-size: 1rem;
    span {
      color: $baseDark;
      font-size: 0.7rem;
      margin-left: 0.3rem;
    }
  }

  .smithAutoSkill {
    font-size: 0.7rem;
    width: 100%;
    white-space: nowrap;
    & > div {
      display: flex;
      align-items: center;
      & > span {
        margin-left: 0.5rem;
      }
    }

    svg {
      $size: 0.5rem;
      width: $size;
      height: $size;
    }
  }

  // programming courses
  .courses {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    span {
      font-size: 0.6rem;
      font-weight: bold;
    }
    .course {
      white-space: nowrap;
      display: flex;
      align-items: center;
      svg {
        $size: 0.5rem;
        width: $size;
        height: $size;
        margin-right: 0.5rem;
      }
    }
  }
} // end experience

.bold {
  font-weight: bold;
  white-space: nowrap;
}
