@import 'styles/variable.module.scss';

.license {
  width: 100%;
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 1rem;
    width: 100%;
  }
}
.gridChild1,
.gridChild2 {
  & > div:not(:last-child) {
    margin-bottom: 1rem;
  }
}
.item {
  .title {
    font-weight: bold;
    font-size: 0.9rem;
    & > span {
      color: $pdfColor;
    }
  }
  ul {
    list-style-type: none;
  }
  li {
    margin-left: 0.5rem;
    font-size: 0.7rem;
    span {
      color: $pdfColor;
    }
  }
}
