@import 'styles/variable.module.scss';
@import 'styles/mixins.scss';

.contactContainer {
  color: $baseDark;

  transform: translateY(30px);
  opacity: 0;
  margin: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  @include sm {
    display: block;
  }

  h1 {
    font-size: 1rem;
    @include xs {
      font-size: 1.5rem;
    }
    @include sm {
      font-size: 2.5rem;
    }
    font-weight: bold;
    margin-bottom: 1rem;
  }
  p {
    margin-bottom: 1rem;
    font-size: 0.8rem;
    width: 100%;
    @include xs {
      font-size: 1rem;
      width: 70%;
    }
    @include sm {
      font-size: 1rem;
    }
  }
}

.contactAnimation {
  animation: show 1s ease 0s 1 normal forwards;
}
@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.email {
  text-decoration: underline;
  color: $red;
  cursor: pointer;
}
