@import 'styles/variable.module.scss';

.contactAnimation {
  animation: show 1s ease 0s 1 normal forwards;
}
@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.email {
  text-decoration: underline;
  color: $red;
  cursor: pointer;
}
