@import 'styles/variable.module.scss';

.licenses {
  width: 100%;
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    // justify-items: center;
    gap: 1rem;
    width: 100%;
  }
  .title {
    font-weight: bold;
    font-size: 0.7rem;
    color: $pdfColor;
  }
  .type {
    font-size: 0.6rem;
    margin-top: -3px;
  }
}
