@import './variable.module.scss';

.container {
}

.header {
  background-color: $baseDark;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
}
.cardSection {
  // height: $sectionHeight;
  padding: 6rem;

  & > h1 {
    color: $baseDark;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3rem;
    opacity: 0;
    transform: translateY(30px);
  }
}
.h1Animation {
  // animation: name duration timing-function delay iteration-count direction fill-mode;
  animation: up 1s ease 0s 1 normal forwards;
}
@keyframes up {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY((0px));
    opacity: 1;
  }
}
.iconSection {
  background-color: $baseDark;
  // height: calc($sectionHeight + 20rem);
  padding: 6rem 1rem;
  clip-path: polygon(0 5%, 100% 0, 100% 95%, 0% 100%);
}

.contactSection {
  height: $sectionHeight;
  color: $baseDark;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  div {
    // padding-top: 5rem;
    transform: translateY(30px);
    opacity: 0;

    h1 {
      font-size: 2.5rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }
    p {
      width: 70%;
      margin-bottom: 1rem;
    }
  }
}

.contactAnimation {
  animation: show 1s ease 0s 1 normal forwards;
}
@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.email {
  text-decoration: underline;
  color: $red;
  cursor: pointer;
}
