// colors
$baseDark: #0e0d0d;
$baseLight: #f1f2eb;
$red: #fe4a49;
$green: #80d39b;
$blue: #88e4ef;
$darkBlue: #19647e;

// sizes
$sectionHeight: 30rem;
$heroSkew: -80deg;

// pdf
$pdfLight: #ff39a5;
$pdfColor: #b92a78;
// $pdfColor: $red;
$pdfDark: #6c1846;

//font
$roboto: 'Roboto+Flex';
