@import 'styles/variable.module.scss';

.navContainer {
  background-color: $baseDark;
  position: relative;
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  // padding-top: 3rem;
  // margin-top: auto;
  // margin-bottom: auto;
}
.navInnerContainer {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 4rem;

  & > a > svg {
    width: 6rem;
    height: auto;
    color: $blue;
    &:hover {
      color: $baseLight;
    }

    & > g {
      fill: $blue;
      &:hover {
        fill: $baseLight;
      }
    }
  }

  & > ul {
    color: $blue;
    display: flex;
    gap: 0 2rem;
    margin-left: auto;
    list-style-type: none;
    li {
      a:link {
        color: $blue;
        text-decoration: none;
      }

      a:visited {
        text-decoration: none;
        color: $red;
      }

      a:hover {
        text-decoration: none;
        color: $baseLight;
      }

      a:active {
        text-decoration: none;
      }
    }

    li:hover {
      cursor: pointer;
    }
  }
}
// .angle {
//   position: absolute;
//   bottom: -15px;
//   left: 0;
//   width: 100%;
//   height: 2rem;
// }
